USE [master]
GO
/****** Object:  Database [TestDB] ******/
CREATE DATABASE [TestDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'TestDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.SQLEXPRESS\MSSQL\DATA\TestDB.mdf' , SIZE = 4096KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'TestDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.SQLEXPRESS\MSSQL\DATA\TestDB_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [TestDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [TestDB]
GO
/****** Object:  Table [dbo].[Conversion]    Script Date: 27-Aug-22 12:20:05 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Conversion](
	[FromUnit] [nvarchar](20) NULL,
	[ToUnit] [nvarchar](20) NULL,
	[ConversionExpression] [nvarchar](30) NULL
) ON [PRIMARY]

GO
INSERT [dbo].[Conversion] ([FromUnit], [ToUnit], [ConversionExpression]) VALUES (N'cm', N'inch', N'input/2.54')
INSERT [dbo].[Conversion] ([FromUnit], [ToUnit], [ConversionExpression]) VALUES (N'inch', N'cm', N'input*2.54')
INSERT [dbo].[Conversion] ([FromUnit], [ToUnit], [ConversionExpression]) VALUES (N'F', N'C', N'(input-32)*5/9')
USE [master]
GO
